Repository loopwire-dev/loopwire: changes, and which pre-commit hooks are due for each by the changed paths.
All: web-format-write, web-format-check, web-lint, web-typecheck, types-typecheck, rust-format-write, rust-format-check, rust-lint, rust-check, web-tests, rust-tests

.pre-commit-config.yaml:

minimum_pre_commit_version: "3.0.0"
default_stages: [pre-commit]
default_install_hook_types: [pre-commit, pre-push]
exclude: ^(apps/web/(coverage|dist|node_modules)/|apps/daemon/target/|packages/types/node_modules/|apps/web/tsconfig\.tsbuildinfo$)

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: local
    hooks:
      - id: web-format-write
        name: web format (Biome auto-fix)
        entry: bash -lc 'cd apps/web && bun run format'
        language: system
        pass_filenames: false
        files: ^apps/web/

      - id: web-format-check
        name: web format check (Biome)
        entry: bash -lc 'cd apps/web && bun run format:check'
        language: system
        pass_filenames: false
        files: ^apps/web/

      - id: web-lint
        name: web lint (Biome)
        entry: bash -lc 'cd apps/web && bun run lint'
        language: system
        pass_filenames: false
        files: ^apps/web/

      - id: web-typecheck
        name: web typecheck
        entry: bash -lc 'cd apps/web && bun run typecheck'
        language: system
        pass_filenames: false
        files: ^(apps/web/|packages/types/)

      - id: types-typecheck
        name: shared types typecheck
        entry: bash -lc 'cd packages/types && bun run typecheck'
        language: system
        pass_filenames: false
        files: ^packages/types/

      - id: rust-format-write
        name: rust format (auto-fix)
        entry: bash -lc 'cd apps/daemon && cargo fmt --all'
        language: system
        pass_filenames: false
        files: ^apps/daemon/

      - id: rust-format-check
        name: rust format check
        entry: bash -lc 'cd apps/daemon && cargo fmt --all -- --check'
        language: system
        pass_filenames: false
        files: ^apps/daemon/

      - id: rust-lint
        name: rust clippy
        entry: bash -lc 'cd apps/daemon && cargo clippy --workspace -- -D warnings'
        language: system
        pass_filenames: false
        files: ^apps/daemon/

      - id: rust-check
        name: rust check
        entry: bash -lc 'cd apps/daemon && cargo check --workspace'
        language: system
        pass_filenames: false
        files: ^apps/daemon/

      - id: web-tests
        name: web tests
        entry: bash -lc 'cd apps/web && bun run test'
        language: system
        pass_filenames: false
        files: ^apps/web/
        stages: [pre-push]

      - id: rust-tests
        name: rust tests
        entry: bash -lc 'cd apps/daemon && cargo test --workspace'
        language: system
        pass_filenames: false
        files: ^apps/daemon/
        stages: [pre-push]

docs: move GitHub profile readme out of .github root
  .github/README-GITHUB.md
Due: none

feat(web): split git sidebar section and add Loopwire dot-logo spinner
  apps/web/src/features/auth/ConnectPage.tsx
  apps/web/src/features/ide/WorkspaceSidebar.tsx
  apps/web/src/features/landing/LandingPage.tsx
  apps/web/src/features/terminal/ScrollbackOverlay.tsx
  apps/web/src/features/terminal/Terminal.tsx
  apps/web/src/features/workspace/useGitStatus.ts
  apps/web/src/index.css
  apps/web/src/shared/layout/SettingsDialog.tsx
  apps/web/src/shared/ui/LoopwireSpinner.tsx
Due: web-format-write, web-format-check, web-lint, web-typecheck, web-tests

refactor(daemon): move per-workspace data to ~/.loopwire/workspaces/
  .gitignore
  apps/daemon/Cargo.lock
  apps/daemon/crates/lw-agent/src/manager/reconcile.rs
  apps/daemon/crates/lw-agent/src/manager/recorder.rs
  apps/daemon/crates/lw-agent/src/manager/session.rs
  apps/daemon/crates/lw-api/src/rest/agent.rs
  apps/daemon/crates/lw-api/src/rest/bootstrap.rs
  apps/daemon/crates/lw-api/src/rest/workspace.rs
  apps/daemon/crates/lw-api/src/state.rs
  apps/daemon/crates/lw-config/Cargo.toml
  apps/daemon/crates/lw-config/src/paths.rs
Due: rust-format-write, rust-format-check, rust-lint, rust-check, rust-tests

fix(ci): resolve workflow and clippy failures
  .github/README.md
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/deploy.yml
  .github/workflows/prek.yml
  .github/workflows/release.yml
  apps/daemon/crates/lw-agent/src/activity.rs
  apps/daemon/crates/lw-agent/src/manager/session.rs
  apps/daemon/crates/lw-agent/src/runners.rs
  apps/daemon/crates/lw-api/src/remote.rs
  apps/daemon/crates/lw-api/src/remote/tunnel.rs
  apps/daemon/crates/lw-api/src/rest/agent.rs
  apps/daemon/crates/lw-api/src/rest/git.rs
  apps/daemon/crates/lw-api/src/rest/workspace.rs
  apps/daemon/crates/lw-api/src/ws/messages.rs
  apps/daemon/crates/lw-fs/src/security.rs
  apps/daemon/crates/lw-pty/src/manager.rs
  apps/daemon/crates/lw-pty/tests/manager.rs
Due: rust-format-write, rust-format-check, rust-lint, rust-check, rust-tests

ci: rely on moon tasks and remove redundant rustfmt install
  .github/workflows/ci.yml
  .github/workflows/ship.yml
Due: none

fix(ci): restore git context for qlty coverage upload
  .github/workflows/ci.yml
Due: none

fix(qlty): set rustfmt edition to 2021 for daemon
  apps/daemon/rustfmt.toml
Due: rust-format-write, rust-format-check, rust-lint, rust-check, rust-tests

ci: publish qlty coverage only on push to main
  .github/workflows/ci.yml
Due: none

docs: add qlty maintainability badge
  README.md
Due: none

chore(git): ignore and untrack web coverage artifacts
  .gitignore
  apps/web/coverage/TerminalPagingController.ts.html
  apps/web/coverage/base.css
  apps/web/coverage/block-navigation.js
  apps/web/coverage/favicon.png
  apps/web/coverage/index.html
  apps/web/coverage/lcov-report/TerminalPagingController.ts.html
  apps/web/coverage/lcov-report/base.css
  apps/web/coverage/lcov-report/block-navigation.js
  apps/web/coverage/lcov-report/favicon.png
  apps/web/coverage/lcov-report/index.html
  apps/web/coverage/lcov-report/prettify.css
  apps/web/coverage/lcov-report/prettify.js
  apps/web/coverage/lcov-report/sort-arrow-sprite.png
  apps/web/coverage/lcov-report/sorter.js
  apps/web/coverage/lcov.info
  apps/web/coverage/prettify.css
  apps/web/coverage/prettify.js
  apps/web/coverage/sort-arrow-sprite.png
  apps/web/coverage/sorter.js
Due: none

fix(ship): restore full-history checkouts across jobs
  .github/workflows/ship.yml
  .gitignore
Due: none

fix(web): run build via bun script in moon task
  apps/web/moon.yml
Due: web-format-write, web-format-check, web-lint, web-typecheck, web-tests

fix(ci): align rust toolchain with daemon target builds
  .github/workflows/ci.yml
  .github/workflows/ship.yml
Due: none

fix(ship): use configured Cloudflare Pages project name
  .github/workflows/ship.yml
Due: none

chore: remove obsolete packages readme
  packages/README.md
Due: none

fix(ship): configure OpenSSL for arm64 linux cross-build
  .github/workflows/ship.yml
Due: none

refactor(ship): deploy Pages with wrangler CLI
  .github/workflows/ship.yml
Due: none

fix(ship): enforce atomic ship flow and use local wrangler
  .github/workflows/ship.yml
  apps/web/bun.lock
  apps/web/package.json
Due: web-format-write, web-format-check, web-lint, web-typecheck, web-tests

ci: harden daemon cross-build checks and sources
  .github/workflows/ship.yml
  apps/daemon/crates/loopwired/src/lib.rs
  apps/daemon/crates/loopwired/src/main.rs
  apps/daemon/crates/lw-api/src/state.rs
  moon.yml
  scripts/check-daemon-builds.sh
Due: rust-format-write, rust-format-check, rust-lint, rust-check, rust-tests

fix: align ship path filters and installer checksum handling
  .github/workflows/ship.yml
  .gitignore
  scripts/install.sh
Due: none

feat(onboarding): improve token-link auth flow and installer UX
  .github/workflows/ship.yml
  apps/web/src/App.tsx
  apps/web/src/features/auth/useAuth.ts
  apps/web/src/features/landing/LandingPage.tsx
  apps/web/src/shared/stores/app-store.ts
  apps/web/tsconfig.tsbuildinfo
  scripts/install.sh
Due: web-format-write, web-format-check, web-lint, web-typecheck, web-tests

ci(ship): refine service change detection and cf deploy checks
  .github/workflows/ship.yml
Due: none

ci(ship): use wrangler action for web deploy
  .github/workflows/ship.yml
Due: none

fix(web): avoid auth redirect before daemon is reachable
  apps/web/src/features/auth/useAuth.ts
Due: web-format-write, web-format-check, web-lint, web-typecheck, web-tests

ci(ship): add manual app scope for workflow dispatch
  .github/workflows/ship.yml
Due: none

feat(landing): add social links to footer with live GitHub star count
  apps/web/src/features/landing/__tests__/LandingPage.component.test.tsx
  apps/web/src/features/landing/components/LandingPage.tsx
Due: web-format-write, web-format-check, web-lint, web-typecheck, web-tests

fix(daemon): detect agents across shell-specific PATH configs
  apps/daemon/crates/lw-agent/src/runners.rs
Due: rust-format-write, rust-format-check, rust-lint, rust-check, rust-tests

fix(daemon): stabilize macOS startup and agent runtime environment
  apps/daemon/crates/loopwired/src/main.rs
  apps/daemon/crates/lw-agent/src/manager/session.rs
  apps/daemon/crates/lw-agent/src/runners.rs
  apps/daemon/crates/lw-api/src/router.rs
  apps/daemon/crates/lw-pty/src/session.rs
Due: rust-format-write, rust-format-check, rust-lint, rust-check, rust-tests

fix(web): show agent launch spinner immediately on click
  apps/web/src/features/agent/__tests__/InlineAgentPicker.component.test.tsx
  apps/web/src/features/agent/components/InlineAgentPicker.tsx
Due: web-format-write, web-format-check, web-lint, web-typecheck, web-tests

fix(web,daemon): seamless agent launch overlay and auto-cleanup on exit
  apps/daemon/crates/loopwired/src/main.rs
  apps/daemon/crates/lw-agent/src/manager/recorder.rs
  apps/daemon/crates/lw-agent/src/runners.rs
  apps/daemon/moon.yml
  apps/web/src/features/agent/__tests__/useAgent.hook.test.ts
  apps/web/src/features/agent/components/InlineAgentPicker.tsx
  apps/web/src/features/agent/hooks/useAgent.ts
  apps/web/src/features/ide/__tests__/WorkspaceView.component.test.tsx
  apps/web/src/features/ide/components/WorkspaceView.tsx
  apps/web/src/features/terminal/__tests__/terminalEventHandlers.test.ts
  apps/web/src/features/terminal/__tests__/useTerminal.hook.test.ts
  apps/web/src/features/terminal/components/Terminal.tsx
  apps/web/src/features/terminal/hooks/useTerminal.ts
  apps/web/src/features/terminal/lib/terminalEventHandlers.ts
  apps/web/src/features/workspace/__tests__/useGitStatus.test.ts
  apps/web/src/features/workspace/hooks/useGitStatus.ts
  apps/web/src/shared/lib/daemon/__tests__/ws.test.ts
  apps/web/src/shared/lib/daemon/ws.ts
  apps/web/src/shared/stores/app-store.ts
Due: web-format-write, web-format-check, web-lint, web-typecheck, rust-format-write, rust-format-check, rust-lint, rust-check, web-tests, rust-tests
